/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.container {
  width: 80%;
  margin: 0 auto;
}

.dashed-border {
  border: 2px dashed black;
}

.flex{
  display: flex;
}

/* HEADER */
header {
  height: 80px;
  background-color: #ADD8E6;
  padding: 1.2rem;
}

.container ul {
  list-style-type: none;
}

/* NAVIGATION */
.navigation {
  background-color: #DAA520 ;
  flex-direction: row;
  min-height: 40px;
  justify-content: space-between;
}

.logo {
  flex-grow: 1;
}

.link-list {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
}

.login {
  flex-grow: 1;
}

/* MAIN */
.blue-bg {
  min-height: 500px;
  background-color: #00008B;
  justify-content: center;
  align-items: center;
}

.fucsia-rect {
  background-color: #EE82EE;
  height: 400px;
  width: 900px;
}

.wrap{
margin: 2rem auto;
}

.white-bg {
  padding: 1rem 0;
}

.col1 {
  background-color: #1E90FF;
  min-height: 500px;
  width: 60%;
}

.col2{
  background-color: #FFC0CB;
  min-height: 500px;
  width: 40%;
}

.gray-bg{
  background-color: #D3D3D3;
  padding: 1rem 0;
}

.square{
  background-color: #228B22;
  height: 50rem;
  
}

/* FOOTER */
.bg-darkblue{
  background-color: #23272A;
  min-height: 500px;
}
.footer-wrap {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.col-footer {
  background-color: #20B2AA;
  min-height: 500px;
}

.cf1 {
  background-color: #F08080;
  flex-grow: 2;
  border: 2px dashed black;
}

.cf2{
  flex-grow: 1;
  border: 2px dashed white;
}

/* INFO FOOTER */
.bg-darkblue2 {
  background-color: #23272A;
}

.container-footer{
  width: 80%;
  margin: 0 auto;
  background-color: #7FFFD4;
  padding: 40px 0;
}

.info-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-footer{
  background-color: #FFB6C1;
  padding: .7rem;
}

.button-footer{
  background-color: #FFB6C1;
  padding: .7rem;
}